.button {
    height: 30px;
    width: 30px;
    margin-top: 16px;
    padding: 5px;
    border: 1px solid #000;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 8px;
    right: 0px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.button-right {
    background-color: black;
    transform: rotate(360deg);
}

.button-left {
    background-color: white;
    transform: rotate(180deg);
}











